/*
GENERAL STYLES
=============
 */
body{
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: 'Roboto', sans-serif;
  font-style:normal;
  word-spacing: 1px;
  background-color:#F1F3F4;
}
#sendToDeviceBtn{
  background-color:#3D87EC;
  color:#fff;
  height:32px;
  font-size:80%;
  border-radius:3px;
  padding:0 2rem 0 2rem;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .13), 0 2px 4px -1px rgba(0, 0, 0, .2);
}#sendToDeviceBtn:focus{
  background-color:#3D87EC;
}
}#sendToDeviceBtn:active{
  background-color:#3D87EC;
}
#sendToDeviceBtn:visited{
  background-color:#618ECA;
  border:none;
}

/*
TYPOGRAPHY
=============
*/
h1{
  font-size:24px;
}
h2{
  font-size:16px;
  font-style: normal;
  color:#797979;
}
.headerText{
  margin:0 1.5rem 0 1.5rem;
  font-family: 'Open Sans', sans-serif;
  color:#797979;
  font-size:85%;
}
.headerText:hover{
  color:#797979;
  text-decoration: none;
}
.headerTextActive{
  color:#000;
  border-bottom: 3px solid #2F6ACF;
  padding-bottom:1.19rem;
}
.headerTextActive:hover{
  color:#000;
  border-bottom: 3px solid #2F6ACF;
  text-decoration: none;
}
#searchBarText{
  color:#81878B;
  padding-top:1rem;
}
.mainContentInfoHeader{
  color:#6B6E6F;
  font-weight:bold;
  font-size:75%;
  font-style:bold;
}
.mainContentInfoList{
  color:#777B7F;
  font-size:80%;
  font-style:bold;
}
#mainContentInfoText{
  font-size:85%;
}
#mainContentInfoLink{
  color:#508AF4;
  font-size:90%;
  margin-left:.6rem;
}
#mainContentInfoLink:hover{
  color:#508AF4;
  text-decoration: none;
}
#privacyLink{
  color:#777B7F;
  font-size:85%;
}

/*
Google Assistant Page
=============
*/
.navbar-top{
  padding-top:.9rem;
  padding-bottom:.7rem;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .04), 0 1px 10px 0 rgba(0, 0, 0, .03), 0 2px 4px -1px rgba(0, 0, 0, .1);
}
 #headerProfileIcon {
	width: 32px;
	height: 32px;
	background: #007DCB;
	border-radius: 50%;
  color:#fff;
  position:relative;
}
#headerProfileChar{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 1135px/*991px*/) {
  .element {
    display: none;
  }
}
.nav-link{
  color:#797979;
  font-size:85%;
  padding-top:.8rem;
  padding-bottom:.8rem;
  min-width:256px;
}
.nav-link:hover{
  background-color:#F1F3F4;
  color:#000;
}
.nav-link:active{
  background-color:#F1F3F4;
  color:#000;
}
.mainContent{
  background-color:#F1F3F4;
  margin-top:2rem;
}
.searchBar{
  background-color:#fff;
  border-radius:5px;
  padding-top:.5rem;padding-bottom:.5rem;
  margin-top:.7rem;
  margin-bottom:.7rem;
}
.searchIcon{
  padding-top:.2rem;
  padding-left:1rem;
}
.AskYourAssistantBullets{
  padding:.3rem 1rem .3rem 1rem;
  margin:.5rem 0 .2rem 0;
  border: 1px solid #E1E0E1;
  border-radius:30px;
  color:#515557;
  font-size:85%;
}
.icon{
  opacity:.5
}
#alertBanner{
  position:fixed;
  z-index:1;
  bottom:0px;
  margin-right:auto;
  margin-left:auto;
}
